<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="logo-mini image pull-left">
		<img src="app/views/img/logo-poli-32x32.png" alt="logo">
	</div>
	<h1>
		Inicio
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#" class="vista-inicio"><i class="fa fa-dashboard"></i> inicio</a>
		</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<!-- Info boxes -->
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<a href="#"><span class="info-box-icon bg-aqua"><i class="ion ion-android-people"></i></span></a>

				<div class="info-box-content">
					<span class="info-box-text">Promedio de</span>
					<span class="info-box-text">delitos</span>
					<span class="info-box-text">mensual</span>
					<span class="info-box-number">90</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<a href="#"><span class="info-box-icon bg-red"><i class="ion ion-android-calendar"></i></span></a>

				<div class="info-box-content">
					<span class="info-box-text">Citaciones del</span>
					<span class="info-box-text">mes: Febrero</span>
					<span class="info-box-number">410</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->

		<!-- fix for small devices only -->
		<div class="clearfix visible-sm-block"></div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<a href="#"><span class="info-box-icon bg-green"><i class="fa fa-frown-o"></i></span></a>

				<div class="info-box-content">
					<span class="info-box-text">Victimas por</span>
					<span class="info-box-text">robo de cartera</span>
					<span class="info-box-number">760</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<a href="#"><span class="info-box-icon bg-yellow"><i class="fa fa-balance-scale"></i></span></a>

				<div class="info-box-content">
					<span class="info-box-text">Expedientes del</span>
					<span class="info-box-text">mes: Febrero</span>
					<span class="info-box-number">200</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

</section>
		<!-- /.content -->