<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="logo-mini image pull-left">
    <img src="app/views/img/logo-poli-32x32.png" alt="logo">
  </div>
  <h1>
    Error 
    <small>403</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" class="vista-inicio"><i class="fa fa-dashboard"></i> inicio</a></li>
    <li class="active">403</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 403</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Oops! Algo salio mal.</h3>

      <p>
        No podemos darte acceso a esta informacion por no tener permisos del el administrador, mientras  
        <a href="#" class="vista-tablero">regresa al tablero</a> o acceda a otro modulo desde el menu
      </p>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
    <!-- /.content -->