<div class="modal" id="modal-reg-ciudadano" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4>
					<span class="logo-lg"><b>Registrar Nuevo Ciudadano</b></span>
				</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<!-- text input -->
							<div class="form-group">
								<label>Nombre</label>
								<input id="text-reg-ciudadano" type="text" class="form-control" placeholder="Nombre del Estado">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
					Cerrar
				</button>
				<button id="btn-reg-ciudadano" type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal" id="modal-mod-ciudadano" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4>
					<span class="logo-lg"><b>Modificar Ciudadano</b></span>
				</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<!-- text input -->
							<div class="form-group">
								<label>Nombre</label>
								<input id="text-mod-ciudadano" type="text" class="form-control" placeholder="Nombre del Estado">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
				<button id="btn-mod-ciudadano" type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->