<ul class="nav navbar-nav">
	<li>
		<a class="fa fa-home" href="inicio/">Inicio</a>
	</li>
	<li class="dropdown">
		<a class="fa fa-archive" href="#" class="dropdown-toggle" data-toggle="dropdown">
			Gestión 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
						<a href="ciudadanos/"><i class="fa fa-circle-o"></i>Ciudadanos</a>
					</li>
					<li>
						<a href="ocupacion/"><i class="fa fa-circle-o"></i>Ocupación</a>
					</li>
					<li>
						<a href="bandas/"><i class="fa fa-circle-o"></i>Bandas</a>
					</li>
					<li>
						<a href="delitos/"><i class="fa fa-circle-o"></i>Delitos</a>
					</li>
					<li>
						<a href="fiscalia/"><i class="fa fa-circle-o"></i>Fiscalia</a>
					</li>
					<li>
						<a href="citados/"><i class="fa fa-circle-o"></i>Citados</a>
					</li>
					<li>
						<a href="victimas/"><i class="fa fa-circle-o"></i>Victimas</a>
					</li>
					<li>
						<a href="d-vehiculos/"><i class="fa fa-circle-o"></i>Dueños de Vehiculos</a>
					</li>
					<li>
						<a href="vehiculos/"><i class="fa fa-circle-o"></i>Vehiculos</a>
					</li>
					<li>
						<a href="marcas/"><i class="fa fa-circle-o"></i>Marcas</a>
					</li>
					<li>
						<a href="modelos/"><i class="fa fa-circle-o"></i>Modelos</a>
					</li>
					<li>
						<a href="direccion-general/"><i class="fa fa-circle-o"></i>Dirección General</a>
					</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="fa fa-balance-scale" href="#" class="dropdown-toggle" data-toggle="dropdown">
			Transacción 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
						<a href="expedientes/"><i class="fa fa-circle-o"></i>Expedientes</a>
					</li>
					<li>
						<a href="citaciones/"><i class="fa fa-circle-o"></i>Citaciones</a>
					</li>
					<li>
						<a href="remision/"><i class="fa fa-circle-o"></i>Remision</a>
					</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="fa fa-bar-chart" href="#" class="dropdown-toggle" data-toggle="dropdown">
			Reportes 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
						<a href="reporte-ciudadanos/"><i class="fa fa-circle-o"></i>Ciudadanos</a>
					</li>
					<li>
						<a href="reporte-ocupacion/"><i class="fa fa-circle-o"></i>Ocupación</a>
					</li>
					<li>
						<a href="reporte-bandas/"><i class="fa fa-circle-o"></i>Bandas</a>
					</li>
					<li>
						<a href="reporte-delitos/"><i class="fa fa-circle-o"></i>Delitos</a>
					</li>
					<li>
						<a href="reporte-fiscalia/"><i class="fa fa-circle-o"></i>Fiscalia</a>
					</li>
					<li>
						<a href="reporte-citados/"><i class="fa fa-circle-o"></i>Citados</a>
					</li>
					<li>
						<a href="reporte-victimas/"><i class="fa fa-circle-o"></i>Victimas</a>
					</li>
					<li>
						<a href="reporte-d-vehiculos/"><i class="fa fa-circle-o"></i>Dueños de Vehiculos</a>
					</li>
					<li>
						<a href="reporte-vehiculos/"><i class="fa fa-circle-o"></i>Vehiculos</a>
					</li>
					<li>
						<a href="reporte-marcas/"><i class="fa fa-circle-o"></i>Marcas</a>
					</li>
					<li>
						<a href="reporte-modelos/"><i class="fa fa-circle-o"></i>Modelos</a>
					</li>
					<li>
						<a href="reporte-direccion-general/"><i class="fa fa-circle-o"></i>Dirección General</a>
					</li>
					<li>
						<a href="reporte-citaciones/"><i class="fa fa-circle-o"></i>Citaciones</a>
					</li>
					<li>
						<a href="reporte-remision/"><i class="fa fa-circle-o"></i>Remision</a>
					</li>
					<li>
						<a href="reporte-bitacora-sesion/"><i class="fa fa-circle-o"></i>Bitacora Inicio de Sesión</a>
					</li>
					<li>
						<a href="reporte-bitacora-accion/"><i class="fa fa-circle-o"></i>Bitacora Acción</a>
					</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="fa fa-wrench" href="#" class="dropdown-toggle" data-toggle="dropdown">
			Mantenimiento 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
						<a href="usuario/"><i class="fa fa-circle-o"></i>Usuario</a>
					</li>
					<li>
						<a href="nivel-usuario/"><i class="fa fa-circle-o"></i>Nivel de Usuario</a>
					</li>
					<li>
						<a href="respaldo-restauracion/"><i class="fa fa-circle-o"></i>Respaldo/Restauración</a>
					</li>
					<li>
						<a href="bitacora-sesion/"><i class="fa fa-circle-o"></i>Bitacora Inicio de Sesión</a>
					</li>
					<li>
						<a href="bitacora-accion/"><i class="fa fa-circle-o"></i>Bitacora Acción</a>
					</li>
		</ul>
	</li>
</ul>