<section class="sidebar">
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul  class="sidebar-menu">
		<li  class="header">Menú</li>
		<li class="treeview">
			<a >
				<i class="fa fa-home"></i> <span>Tablero</span>
			</a>
		</li>
		<li class="treeview">
			<a >
				<i class="fa fa-archive"></i> <span>Gestión</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="ciudadanos/"><i class="fa fa-circle-o"></i>Ciudadanos</a>
				</li>
				<li>
					<a href="ocupacion/"><i class="fa fa-circle-o"></i>Ocupación</a>
				</li>
				<li>
					<a href="bandas/"><i class="fa fa-circle-o"></i>Bandas</a>
				</li>
				<li>
					<a href="delitos/"><i class="fa fa-circle-o"></i>Delitos</a>
				</li>
				<li>
					<a href="fiscalia/"><i class="fa fa-circle-o"></i>Fiscalia</a>
				</li>
				<li>
					<a href="citados/"><i class="fa fa-circle-o"></i>Citados</a>
				</li>
				<li>
					<a href="victimas/"><i class="fa fa-circle-o"></i>Victimas</a>
				</li>
				<li>
					<a href="d-vehiculos/"><i class="fa fa-circle-o"></i>Dueños de Vehiculos</a>
				</li>
				<li>
					<a href="vehiculos/"><i class="fa fa-circle-o"></i>Vehiculos</a>
				</li>
				<li>
					<a href="marcas/"><i class="fa fa-circle-o"></i>Marcas</a>
				</li>
				<li>
					<a href="modelos/"><i class="fa fa-circle-o"></i>Modelos</a>
				</li>
				<li>
					<a href="direccion-general/"><i class="fa fa-circle-o"></i>Dirección General</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a >
				<i class="fa fa-balance-scale"></i> <span>Transacción</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="expedientes/"><i class="fa fa-circle-o"></i>Expedientes</a>
				</li>
				<li>
					<a href="citaciones/"><i class="fa fa-circle-o"></i>Citaciones</a>
				</li>
				<li>
					<a href="remision/"><i class="fa fa-circle-o"></i>Remision</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a >
				<i class="fa fa-bar-chart"></i> <span>Reportes</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="reporte-ciudadanos/"><i class="fa fa-circle-o"></i>Ciudadanos</a>
				</li>
				<li>
					<a href="reporte-ocupacion/"><i class="fa fa-circle-o"></i>Ocupación</a>
				</li>
				<li>
					<a href="reporte-bandas/"><i class="fa fa-circle-o"></i>Bandas</a>
				</li>
				<li>
					<a href="reporte-delitos/"><i class="fa fa-circle-o"></i>Delitos</a>
				</li>
				<li>
					<a href="reporte-fiscalia/"><i class="fa fa-circle-o"></i>Fiscalia</a>
				</li>
				<li>
					<a href="reporte-citados/"><i class="fa fa-circle-o"></i>Citados</a>
				</li>
				<li>
					<a href="reporte-victimas/"><i class="fa fa-circle-o"></i>Victimas</a>
				</li>
				<li>
					<a href="reporte-d-vehiculos/"><i class="fa fa-circle-o"></i>Dueños de Vehiculos</a>
				</li>
				<li>
					<a href="reporte-vehiculos/"><i class="fa fa-circle-o"></i>Vehiculos</a>
				</li>
				<li>
					<a href="reporte-marcas/"><i class="fa fa-circle-o"></i>Marcas</a>
				</li>
				<li>
					<a href="reporte-modelos/"><i class="fa fa-circle-o"></i>Modelos</a>
				</li>
				<li>
					<a href="reporte-direccion-general/"><i class="fa fa-circle-o"></i>Dirección General</a>
				</li>
				<li>
					<a href="reporte-citaciones/"><i class="fa fa-circle-o"></i>Citaciones</a>
				</li>
				<li>
					<a href="reporte-remision/"><i class="fa fa-circle-o"></i>Remision</a>
				</li>
				<li>
					<a href="reporte-bitacora-sesion/"><i class="fa fa-circle-o"></i>Bitacora Inicio de Sesión</a>
				</li>
				<li>
					<a href="reporte-bitacora-accion/"><i class="fa fa-circle-o"></i>Bitacora Acción</a>
				</li>
			</ul>
		</li>
		<li class="treeview">
			<a >
				<i class="fa fa-wrench"></i> <span>Mantenimiento</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="usuario/"><i class="fa fa-circle-o"></i>Usuario</a>
				</li>
				<li>
					<a href="nivel-usuario/"><i class="fa fa-circle-o"></i>Nivel de Usuario</a>
				</li>
				<li>
					<a href="respaldo-restauracion/"><i class="fa fa-circle-o"></i>Respaldo/Restauración</a>
				</li>
				<li>
					<a href="bitacora-sesion/"><i class="fa fa-circle-o"></i>Bitacora Inicio de Sesión</a>
				</li>
				<li>
					<a href="bitacora-accion/"><i class="fa fa-circle-o"></i>Bitacora Acción</a>
				</li>
			</ul>
		</li>				
	</ul>
</section>